/* #2D3748	#2B6CB0	#E2E8F0	#FFFFFF
FONTS: Header - Georgia Paragraph - Arial */

header {
    display: grid;
    background-color: #2b6cb0;
    grid-template-columns: 1fr 1fr;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
}

header h1 {
    color: #ffffff;
    margin-left: 10px;
    font-family: Georgia;
}

nav {
    display: grid;
    grid-auto-flow: column;
}

nav a {
    justify-self: center;
    align-self: center;
    text-decoration: none;
    color: #ffffff;
    font-family: Arial;
}

nav a:hover {
    color: #2d3748;
}

#hero-img {
    margin: 10px;
    width: 1325px;
    height: 300px;
    object-fit: cover;
    border: 5px solid #2d3748;
    border-radius: 10px;
}

#slogan {
    display: flex;
    background-color: #2b6cb0;
    height: 40px;
    width: 700px;
    align-items: center;
    justify-content: center;
    justify-self: center;
    margin-bottom: 10px;
}

#slogan p {
    color: white;
    font-family: Arial;
}

#featured {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #e2e8f0;
    border-left: 2px solid gray;
    border-right: 2px solid gray;
    padding-bottom: 10px;
    border-bottom: 2px solid gray;
}

.featured-reviews {
    display: grid;
    grid-template-rows: repeat(5, auto);
    border: 2px solid gray;
    background-color: white;
    width: 80%;
    height: 300px;
    justify-self: center;
    padding: 10px;
    text-align: left;
}

#featured h2 {
    grid-column: 1 / 4;
    text-align: center;
    border-bottom: 5px solid #2b6cb0;
    width: 30%;
    justify-self: center;
    padding: 5px;
}

.featured-img {
    margin: 10px;
    width: 90%;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.featured-reviews p, .featured-reviews h3, .featured-reviews a {
    margin: 5px 0;
}

.featured-reviews a {
    width: 100%;
    text-align: center;
    background-color: #2b6cb0;
    color: white;
    text-decoration: none;
}

.featured-reviews a:hover {
    color: #2d3748;
}

#recent {
    display: grid;
    background-color: #e2e8f0;
    border-left: 2px solid gray;
    border-right: 2px solid gray;
}

#recent h2 {
    justify-self: center;
}

#recent{
    display: grid;
    gap: 10px;
    padding-bottom: 10px;
}

.recent-reviews {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 4fr;
    border: 2px solid gray;
    background-color: white;
    width: 90%;
    height: 150px;
    justify-self: center;
    text-align: left; 
}

.recent-img {
    grid-row: 1 / 4;
    margin: 10px;
    width: 90%;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

footer {
    display: grid;
    grid-template-rows: auto auto;
    background: #2d3748;
    justify-content: center;
}

footer div {
    display: flex;
    gap: 10px;
    align-items: center;
}

footer p {
    color: gray;
    justify-self: center;
}

footer a {
    color: gray;
    text-decoration: none;
}

footer a:hover {
    color: darkblue;
}

.container {
    text-align: center;
    grid-template-columns: 1fr 1fr;
    padding: 20px 40px;
    margin: 40px;
}
#myBtnContainer {
    display: flex;
    padding: 10px;
    border-color: #E2E8F0;
    border-width: 2px;
    border-style: solid;
    justify-content: left;
    flex: auto;
    margin-top: 20px;
}
#myBtnContainer .btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #E2E8F0;
    cursor: pointer;
    font-size: 18px;
}
#myBtnContainer .btn:hover {
    background-color: #ddd;
}
#myBtnContainer .btn.active {
    background-color: #2B6CB0;
    color: white;
}
#myBtnContainter .btn.active:hover {
    background-color: #4076b0;
    color: white;
}
.filterDiv {
    padding: 20px;
    border: 1px solid #E2E8F0;
    margin-top: 20px;
}
.filterimg {
    width: 200px;
    display: flex;
}

/*About page*/
#aboutheader {
    background: #E2E8F0;
    justify-self: center;
    color: #2D3748;
    text-decoration: underline #2B6CB0;
    margin: 0px 8px;
    width: 100%;
    justify-items: center;
    padding: 30px 0px;
}
#aboutheader h1 {
    margin: 0px;
}
#aboutjames {
    background: white;
    color: #2D3748;
    padding: 15px;
}
#james_photo {
    float: left;
    width: 300px;
    height: 250px;
    border: solid 1px #E2E8F0;
    margin-right: 15px;
    background-color: #E2E8F0;
}
#about_reviews {
    color: #2D3748;
    border-top: 2px solid #E2E8F0;
    border-bottom: 2px solid #E2E8F0;
    margin: 0px 20px;
    padding: 0px 30px;
}
#about_reviews h1 {
    justify-self: center;
}
#about_reviews div {
    border:#2D3748 solid 1px;
    justify-items: center;
    padding: 10px;
    margin: 20px 10px;
}
#about_reviews section {
    display: flex;
    flex-direction: row;
}
#get_in_touch {
    display: flex;
    flex-direction: column;
    color: #2D3748;
    margin: 0px;
    padding-bottom: 200px;
    align-items: center;
}
#get_in_touch a {
    align-self: center;
    text-decoration: none;
    padding: 10px 30px;
    background: #2B6CB0;
    color: white;
    margin: 10px;
}